.metadata/

# Directorios antiguos
copia_java/
ejercicio2eva/
primertrimestre/
proyecto_final/
segundotrimestre/
seguntrimest_herencia/
seguntrimest_poo/
tercertrimestre_interfaz/
FicherosPF/
noticieroMapache/


# Archivos de Eclipse
.classpath
.project
.settings/

# Archivos de compilación
bin/
build/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos de backup o temporales
*.bak
*.swp
*.bin
*.ser
*.dat

# Archivos específicos de Java
*.class
